asgiref==3.4.1
Django==4.0.1
mssql-django==1.1.1
Pillow==9.0.0
pyodbc @ file:///C:/Users/admin/PycharmProjects/SimpleDjangoApp/pyodbc-4.0.32-cp310-cp310-win_amd64.whl
pytz==2021.3
sqlparse==0.4.2
tzdata==2021.5
