{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    {{ mixin_prop }}
    {% for item in news %}
        <div class="card mb-3">
            <div class="card-header">
                <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" width="300" alt="" class="mr-3">
                        {% else %}
                            <img src="https://picsum.photos/300/200.webp?random={{ forloop.counter }}" alt="">
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ item.created_at|date:"Y-m-d H:i:s" }}
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li class="page-item "><a class="page-link text-black" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {%  for i in paginator.page_range %}
            <li class="page-item"><a class="page-link text-black" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link text-black" href="?page={{ page_obj.number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}